<html>
    <head>

    </head>
    <body>
        <div class="login-box">
            <h3>Login</h3>
            <form action="/auth" method="post">
                <input type="text" class="user" name="user" id="user" placeholder="username"><br>
                <input type="password" class="pass" name="pass" id="pass" placeholder="password"><br>
                <input type="submit" class="login-btn" name="login-btn" id="login-btn" value="LogIn">
            </form>
        </div>
    </body>
    <style>
        
    </style>
</html>